{% extends 'basemenu.html.twig' %}

{% block secondheader %}
{% block secondmenu %}

 <div class="bg-light p-3">
 {%if InOeuvres == true %}
        <h1 align="center">Nos Oeuvres</h1>
        {% else %}
         <h1 align="center">Nos Articles à la Vente</h1>
        {% endif %}
    </div>
   <nav class="navbar navbar-expand-lg navbar-dark bg-secondary menu" >

  

  <div class="collapse navbar-collapse" id="second_nav" align="center">

<ul class="navbar-nav" >
{%if InOeuvres != true %}
       <li class="nav-item active"> <a class="nav-link" href="{{ path('nouveaux_articles_liste', {'letter': '*'})  }}">Nouveautés </a> </li>

	<li class="nav-item active"> <a class="nav-link" href="{{ path('posters_liste', {'letter': '*'}) }}">Posters </a> </li>

	<li class="nav-item"><a class="nav-link" href="{{ path('tshirts_liste', {'letter': '*'}) }}"> T-shirts </a></li>

	<li class="nav-item"><a class="nav-link" href="{{ path('cartes_postales_liste', {'letter': '*'}) }}"> Cartes Postales </a></li>

<li class="nav-item"><a class="nav-link" href="{{ path('produits_liste', {'letter': '*'}) }}"> Tous </a></li>
        {% else %}
        <li class="nav-item active"> <a class="nav-link" href="{{ path('nouvelles_oeuvres_liste', {'letter': '*'})  }}">Nouveautés </a> </li>

	<li class="nav-item active"> <a class="nav-link" href="{{ path('peintures_liste', {'letter': '*'}) }}">Peintures </a> </li>

	<li class="nav-item"><a class="nav-link" href="{{ path('photographies_liste', {'letter': '*'}) }}"> Photographies </a></li>

	<li class="nav-item"><a class="nav-link" href="{{ path('sculptures_liste', {'letter': '*'}) }}"> Sculptures </a></li>

<li class="nav-item"><a class="nav-link" href="{{ path('oeuvres_liste', {'letter': '*'}) }}"> Toutes </a></li>
        {% endif %}
	

</ul>

  </div> <!-- navbar-collapse.// -->

</nav>
{% endblock %}
{% block alphabet %}
<div class="alphabet" align = "center">
<a class="letter" href="{{ path(routeSelected, {'letter': 'A'}) }}">A</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'B'}) }}">B</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'C'}) }}">C</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'D'}) }}">D</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'E'}) }}">E</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'F'}) }}">F</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'G'}) }}">F</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'H'}) }}">H</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'I'}) }}">I</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'J'}) }}">J</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'K'}) }}">K</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'L'}) }}">L</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'M'}) }}">M</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'N'}) }}">N</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'O'}) }}">O</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'P'}) }}">P</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'Q'}) }}">Q</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'R'}) }}">R</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'S'}) }}">S</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'T'}) }}">T</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'U'}) }}">U</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'V'}) }}">V</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'W'}) }}">W</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'X'}) }}">X</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'Y'}) }}">Y</a>
<a class="letter" href="{{ path(routeSelected, {'letter': 'Z'}) }}">Z</a>
<a class="letter" href="{{ path(routeSelected, {'letter': '*'}) }}">Tous</a>
</div>
{% endblock %}
{% endblock %}



