{% extends './produit/baseproduit.html.twig' %}

{% block title %}Nos Oeuvres{% endblock %}

{% block contentPage %}
 <div class="bg-light p-3">
        <h1>{{titre}}</h1>
    </div>

 <div class="content">
    <div class="row">
        {% for oeuvre in oeuvres %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <h2>
                        {{ oeuvre.nomProduit }}
                        -
                        {{ oeuvre.prixHT }}
                        €
                    </h2>
                    <img align="center" class="img-fluid rounded" src="{{ asset(oeuvre.miniature) }}" alt="Image de {{ oeuvre.nomProduit }}">

                    <hr>
                    <a href="{{ path('oeuvre_detail', {'id': oeuvre.id}) }}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Voir
                    </a>
                    <a href="{{ path('panierAdd', {'id': oeuvre.id}) }}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter
                    </a>
                </div>

            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}