{% extends 'basemenu.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block contentPage %}
{% if achats| length >0 %}
        <table class ="table">
        <thead>
        <tr>
            <th>Produit</th>
            <th>Prix HT</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for achat in achats %}
        <tr>
            <td>{{achat.produit.nomProduit}}</td>
            <td>{{achat.produit.prixHT}}</td>
            <td>{{achat.quantite}}</td>
            <td>{{achat.produit.prixHT * achat.quantite}}</td>
            <td>
            <a href="{{ path('panierRemove', {'id': achat.produit.id}) }}" >Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
             <tr>
            <td colspan="3" class="text-right">Total: </td>
            <td>{{total}}</td>
            <td></td>
        </tr>
        </tfoot>
        </table>
         {% if app.user %}
        
        <a href="{{ path('commande_detail') }}" class="btn btn-success float-right">
                        Valider mon panier
                    </a>
        {% else %}
        <a href="/login" class="btn btn-success float-right">
                        Valider mon panier
                    </a>
        {% endif %}
    {% else  %}
    <p>Le panier est vide.</p>
    {% endif  %}
{% endblock %}
