
{{ form_start(form) }}
<h3>Client</h3>
<div class="client">
{{(form.id_client.nom}}
    {{ form_row(form.id_client.nom) }}
    {{ form_row(form.id_client.prenom) }}
    {{ form_row(form.id_client.telephone) }}
    <input type="adresse"
    id="form_adresses___name__"
    name="form[adresses][__name__]"
    value="">
</div>
    {{ form_row(form.id_adresse) }}
    {{ form_row(form.id_typelivraison) }}
    {{ form_row(form.id_typepaiement) }}
    <button class="btn">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
