{% extends 'basemenu.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block contentPage %}
{% if items| length >0 %}
        <table class ="table">
        <thead>
        <tr>
            <th>Produit</th>
            <th>Prix HT</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for achat in achats %}
        <tr>
            <td>{{item.produit.nomProduit}}</td>
            <td>{{item.produit.prixHT}}</td>
            <td>{{item.quantite}}</td>
            <td>{{item.produit.prixHT * item.quantite}}</td>
            <td>
            <a href="{{ path('panierRemove', {'id': item.produit.id}) }}" >Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
             <tr>
            <td colspan="3" class="text-right">Total: </td>
            <td>{{total}}</td>
            <td></td>
        </tr>
        </tfoot>
        </table>
    {% else  %}
    <p>Le panier est vide.</p>
    {% endif  %}
{% endblock %}
