{% extends 'basemenu.html.twig' %}

{% block title %}Couleur{% endblock %}

{% block contentPage %}
    <h1>Couleur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ couleur.id }}</td>
            </tr>
            <tr>
                <th>Nomcouleur</th>
                <td>{{ couleur.nomcouleur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('couleur_index') }}">back to list</a>

    <a href="{{ path('couleur_edit', {'id': couleur.id}) }}">edit</a>

    {{ include('couleur/_delete_form.html.twig') }}
{% endblock %}
