{% extends 'basemenu.html.twig' %}

{% block title %}Nos Oeuvres{% endblock %}

{% block contentPage %}
<div class="content">
 <div class="bg-light p-3">
        <h1 align ="center">{{oeuvre.nomProduit}} - {{oeuvre.prixHT}} </h1>
                 <img align="center" class="img-fluid rounded" src="{{asset(oeuvre.photographie)  }}" alt="Image de {{ oeuvre.nomProduit }}">
 <a href="{{ path('panierAdd', {'id': oeuvre.id}) }}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter
                    </a>
    </div>

    <div >
       <h1>Descritpion </h1>
        <p>{{oeuvre.descriptif}} </p>
    </div>
</div>
{% endblock %}