{% block contentPage %}
    <h1>Choix d'artiste à la une</h1>

     <table class="table">
        <thead>
            <tr>
                <th>No</th>       
                <th>Artiste</th>
                <th>Photo</th>
                       
                <th>A la une</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       
        {% for artiste in artistesAlaune %}
            <tr>
                <td>{{ loop.index0+1 }}</td>
                
                <td>{{artiste.prenom}} {{artiste.nom}}</td>
                <td><img align="center" class="img-fluid rounded" src="{{asset(artiste.miniature)  }}" alt="Image de {{ artiste.nom }}"></td>
                
                
                <td>{{ artiste.alaune ? 'Yes' : 'No' }}</td>
                <td>
                   
            {{ form_start(forms[artiste.id], {'method': 'GET'}) }}
                    {{ form_widget(forms[artiste.id]) }}
    
                        
            {{ form_end(forms[artiste.id]) }}

                </td>
            </tr>
           
            
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 <button class="btn">Mettre à jour</button>
{% endblock %}
