{% block contentPage %}


<h1>Oeuvres vendus</h1>

    <table class="table">
        <thead>
            <tr>
                <th>No</th>       
                <th>Nom Produit</th>
                <th>Categorie</th>
                <th>Artiste</th>
                <th>Client</th>           
                <th>Quantité vendue</th>
                <th>Total</th>
                <th>En vente</th>
               
                
            </tr>
        </thead>
        <tbody>

        {% for produit in articlesVente %}
         
            {% if produit.getIdProduit.getProduitoriginal is null  %}
                <tr>
                    <td>{{ loop.index0+1 }}</td>
                    
                    <td>{{ produit.getIdProduit.nomProduit }}</td>
                    <td>{{ produit.getIdProduit.categorie.nomcategorie }}</td>
                    <td>{{ produit.getIdProduit.artiste.nom }}</td>
                    <td>{{ produit.getIdCommande.getIdClient.getNom }}</td>
                    <td>{{ produit.quantiteProduit }}</td>
                    <td>{{ produit.prixUnite * produit.quantiteProduit }}</td>
                    <td>{{ produit.getIdProduit.enVente ? "Oui" : "Non" }}</td>
                    
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
