{% extends 'base.html.twig' %}


{% block title %}Admin Interface{% endblock %}

{% block body %}
<div>



</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="{{ path('admin') }}">
                            <span class="glyphicon glyphicon-th">
                            </span>Admin</a>
                        </h4>
                    </div> 
                </div>


            <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <span class="glyphicon glyphicon-tasks">
                            </span>Gestion quotidienne</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_stock_produits') }}">Gérer le stock</a>
                                        
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_commandes') }}">Commandes en cours</a>
                                        {% if nbCommandesEnCours > 0 %}
                                        <span class="label label-warning">{{nbCommandesEnCours}} NEW</span>
                                       
                                       {% else %}
                                        {% endif %}
                                      
                                        
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <span class="glyphicon glyphicon-folder-close">
                            </span>Validation des articles</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                       
                                        <a href="{{ path('admin_oeuvres') }}">Oeuvres</a>
                                        
                                        
                                        {% if nbOeuvresApprouve > 0 %}
                                        <span class="label label-success">{{nbOeuvresApprouve}}</span>
                                         <span class="glyphicon glyphicon-flash text-success"></span>
                                       {% else %}
                                       <span class="label label-info">{{ 0 }}</span>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        
                                        <a href="{{ path('admin_produits') }}">Produits</a>
                                        
                                        {% if nbProduitsApprouve > 0 %}
                                        <span class="label label-success">{{nbProduitsApprouve}}</span>
                                         <span class="glyphicon glyphicon-flash text-success"></span>
                                       {% else %}
                                       <span class="label label-info">{{ 0 }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <span class="glyphicon glyphicon-user"></span>
                            </span>Gestion des artistes</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        
                                        <a href="{{ path('admin_artistes') }}">Artistes</a>
                                       
                                        {% if new_artistes > 0 %}
                                        <span class="label label-warning">{{new_artistes}} NEW</span>
                                       {% else %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        
                                        <a href="{{ path('admin_artistes_alaune') }}">Artistes à la une</a>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                
                                    <td>
                                         <span class="glyphicon glyphicon-euro"></span>
                                        <a href="{{ path('admin_ventes') }}">Ventes</a>
                                        {% if sommeVentes > 0 %}
                                        <span class="label label-success">{{sommeVentes}}</span>
                                       {% else %}
                                       <span class="label label-info">{{ 0 }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span>
                                        <a href="">Clients</a>
                                    </td>
                                </tr>
                                
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 col-md-9">
            <div class="well">
                <h1>
                Gestion Galerie Art</h1>
                Admin Tableau de bord
            </div>
           <div>
           {% block partadmin %}
           {% endblock %}
           </div>
        </div>
    </div>
</div>

{% endblock %}
