{% block contentPage %}
    <h1>Artistes en attente d'approbation</h1>

     <table class="table">
        <thead>
            <tr>
                <th>No</th>       
                <th>Artiste</th>
                <th>Photo</th>
                <th>Téléphone</th>
                <th>Date création compte</th>          
                <th>Commission</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
       
        {% for artiste in artistesNouveaux %}
            <tr>
                <td>{{ loop.index0+1 }}</td>
                
                <td>{{artiste.prenom}} {{artiste.nom}}</td>
                <td><img align="center" class="img-fluid rounded" src="{{asset(artiste.miniature)  }}" alt="Image de {{ artiste.nom }}"></td>
                <td>{{ artiste.telephone }}</td>
                <td>{{ artiste.dateCreationCompte ? artiste.dateCreationCompte|date('Y-m-d') : '' }}</td>
                <td>{{ artiste.commission }}</td>
                <td>
                    <a href="{{ path('artiste_show', {'id': artiste.id}) }}">show</a>
                    
                    {{ include('artiste/_approve_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
