{% extends 'base.html.twig' %}

{% block title %}Cadre index{% endblock %}

{% block body %}
    <h1>Cadre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomcadre</th>
                <th>Imagecadre</th>
                <th>PrixCadreUniteHt</th>
                <th>Matiere</th>
                <th>Couleur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cadre in cadres %}
            <tr>
                <td>{{ cadre.id }}</td>
                <td>{{ cadre.nomcadre }}</td>
                <td>{{ cadre.imagecadre }}</td>
                <td>{{ cadre.prixCadreUniteHt }}</td>
                <td>{{ cadre.matiere.nommatiere }}</td>
                <td>{{ cadre.couleur.nomcouleur }}</td>
                <td>
                    <a href="{{ path('cadre_show', {'id': cadre.id}) }}">show</a>
                    <a href="{{ path('cadre_edit', {'id': cadre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cadre_new') }}">Create new</a>
{% endblock %}
