{% extends 'base.html.twig' %}

{% block title %}TypeUtilisateur{% endblock %}

{% block body %}
    <h1>TypeUtilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_utilisateur.id }}</td>
            </tr>
            <tr>
                <th>NomType</th>
                <td>{{ type_utilisateur.nomType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_utilisateur_index') }}">back to list</a>

    <a href="{{ path('type_utilisateur_edit', {'id': type_utilisateur.id}) }}">edit</a>

    {{ include('type_utilisateur/_delete_form.html.twig') }}
{% endblock %}
