{{ form_start(form.id_client) }}
   <div class="client content">
{{user.email}}
    <h3>Mes données personnelles</h3>
    {{ form_row(form.id_client.nom) }}
    {{ form_row(form.id_client.prenom) }}
    {{ form_row(form.id_client.telephone) }}
    
    <h3>Mes adresses</h3>
   
<ul id="adresse-fields-list"
        data-prototype="{{ form_widget(form.id_client.adresses.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.id_client.adresses|length }}">
    {% for adresseField in form.id_client.adresses %}
        <li>
            {{ form_errors(adresseField) }}
            {{ form_widget(adresseField) }}
        </li>
    {% endfor %}
    </ul>

    <button type="button"
        class="add-another-collection-widget"
        data-list-selector="#adresse-fields-list">Ajouter une adresse</button>
    </br>
    
    <button class="submit" >{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form.id_client) }}
