{% extends 'base.html.twig' %}

{% block title %}Typepaiement{% endblock %}

{% block body %}
    <h1>Typepaiement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ typepaiement.id }}</td>
            </tr>
            <tr>
                <th>Nomtypepaiement</th>
                <td>{{ typepaiement.nomtypepaiement }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('typepaiement_index') }}">back to list</a>

    <a href="{{ path('typepaiement_edit', {'id': typepaiement.id}) }}">edit</a>

    {{ include('typepaiement/_delete_form.html.twig') }}
{% endblock %}
