{% extends 'basemenu.html.twig' %}

{% block secondheader %}
{% block secondmenu %}
   <nav class="navbar navbar-expand-lg navbar-dark bg-secondary menu">

  

  <div class="collapse navbar-collapse" id="second_nav" align="center">

<ul class="navbar-nav" >

	<li class="nav-item active"> <a class="nav-link" href="{{ path('nouveaux------------------------------------------------------------------------------------------------------------------666666666666666666666666666666666666666666666666666666---------------------............................................................................................................................................................................................................................................................') }}">Nouveaux </a> </li>

	<li class="nav-item active"> <a class="nav-link" href="{{ path('peintres_liste') }}">Peintres </a> </li>

	<li class="nav-item"><a class="nav-link" href="{{ path('photographes_liste') }}"> Photographes </a></li>

	<li class="nav-item"><a class="nav-link" href="{{ path('sculpteurs_liste') }}"> Sculpteurs </a></li>

<li class="nav-item"><a class="nav-link" href="{{ path('artistes_liste') }}"> Tous </a></li>

	

</ul>

  </div> <!-- navbar-collapse.// -->

</nav>
{% endblock %}
{% block alphabet %}
<div class="alphabet">
<a class="letter" href="{{ path('artistes_liste') }}">A</a>
<a class="letter" href="{{ path('artistes_liste') }}">B</a>
<a class="letter" href="{{ path('artistes_liste') }}">C</a>
<a class="letter" href="{{ path('artistes_liste') }}">D</a>
<a class="letter" href="{{ path('artistes_liste') }}">E</a>
<a class="letter" href="{{ path('artistes_liste') }}">F</a>
<a class="letter" href="{{ path('artistes_liste') }}">F</a>
<a class="letter" href="{{ path('artistes_liste') }}">H</a>
<a class="letter" href="{{ path('artistes_liste') }}">I</a>
<a class="letter" href="{{ path('artistes_liste') }}">J</a>
<a class="letter" href="{{ path('artistes_liste') }}">K</a>
<a class="letter" href="{{ path('artistes_liste') }}">L</a>
<a class="letter" href="{{ path('artistes_liste') }}">M</a>
<a class="letter" href="{{ path('artistes_liste') }}">N</a>
<a class="letter" href="{{ path('artistes_liste') }}">O</a>
<a class="letter" href="{{ path('artistes_liste') }}">P</a>
<a class="letter" href="{{ path('artistes_liste') }}">Q</a>
<a class="letter" href="{{ path('artistes_liste') }}">R</a>
<a class="letter" href="{{ path('artistes_liste') }}">S</a>
<a class="letter" href="{{ path('artistes_liste') }}">T</a>
<a class="letter" href="{{ path('artistes_liste') }}">U</a>
<a class="letter" href="{{ path('artistes_liste') }}">V</a>
<a class="letter" href="{{ path('artistes_liste') }}">W</a>
<a class="letter" href="{{ path('artistes_liste') }}">X</a>
<a class="letter" href="{{ path('artistes_liste') }}">Y</a>
<a class="letter" href="{{ path('artistes_liste') }}">Z</a>
</div>
{% endblock %}
{% endblock %}



